@import './reset.scss';

$pink: #E32879;
$grey: #191919;
$lgrey: #222222;
$tgrey: #b3b3b3;
$white: #fff;

%social{
    display: flex;
    justify-content: center;
    li{
        width: 50px;
        height: 50px;
        background-color: $lgrey;
        border-radius: 50%;
        text-align: center;
        margin: 0 5px;
    }
    i{
        color: $white;
        line-height: 50px;
    }
}


body{
    background: $grey;
    color: $tgrey;
    font-size: 16px;
    font-family: "Libre Franklin", sans-serif;
    line-height: 1.5em;

    @for $i from 1 through 6 {
        h#{$i}{
            font-weight: 600;
            line-height: 1em;
        }
    }

    h1{
        font-size: 60px;
        color: $white;
        
    }
    h2{
        font-size: 45px;
        margin-bottom: 50px;
        color: $white;
    }
    h3{
        font-size: 30px;
        color: $white;
    }
    h4{
        text-transform: uppercase;
        color: $pink;
        margin-bottom: 30px;
        padding-top: 20px;
    }

    button{
        padding: 12px 30px;
        background-color: $pink;
        color: $white;
        margin-top: 60px;
        font-weight: 600;
    }
}
.container{
    max-width: 1170px;
    margin: 0 auto;
}

.header{
    .header-top{
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul{
            display: flex;
            justify-content: space-between;

            li{
                font-weight: 600;
                padding-left: 2em;
                color: $white;
                cursor: pointer;

                &:hover,
                &:first-child{
                    color: $pink;
                }
            }
        }
    }
    
    .header-poster{
        height: 800px;
        background-image: url(../src/img/hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;


        h4{
            padding-top: 250px;
        }
        h1{
            margin-top: 60px;
            font-size: 60px;
        }
        p{
            margin-top: 30px;
            color: $white;
            width: 40%;
        }
        button{
            margin-top: 60px;
        }
    }
}

main{

    text-align: center;

    >div{
        margin-top: 100px;
    }

    .story{

        .two-col{
            display: flex;

            .story-info{
                margin: 10px 0 0 50px;
                text-align: left;

                h2{
                    margin: 0;
                }
                p{
                    margin-top: 20px;
                }
            }
        }
        
    }
    .service{
        ul.services{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;

            li{
                padding: 40px;
                background-color: $lgrey;
                height: 300px;
                display: table-cell;
                vertical-align: middle;
                cursor: pointer;
                h3{
                    margin-top: 30px;
                }
                p{
                    margin-top: 30px;
                }
                &::before{
                    content: "";
                    display: block;
                    width: 50px;
                    height: 50px;
                    margin: 0 auto;
                    padding: 20px;
                }
                &:hover{
                    border-bottom: solid 3px $pink;
                }
            }
            @for $i from 1 through 3 {
                li:nth-child(#{$i})::before{
                    background-image: url(../src/img/services/service-#{$i}.png);
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .portfolio{

        position: relative;
        padding-top: 100px;
        margin-bottom: 150px;

        .back-portfolio{
            position: absolute;
            height: 500px;
            z-index: -1;
            top: 0;
            width: 100%;
            background-color: $lgrey;    
        }
        h2{
            margin-bottom: 100px;
        }
        .picture-grid{
            display: grid;
            grid-template-columns: repeat(4, 25%);
            overflow: hidden;

            li:first-child{
                grid-column-start: 1;
                grid-column-end: 3;
                grid-row-start: 1;
                grid-row-end: 3;
            }
            li:nth-child(2){
                grid-column-start: 3;
                grid-column-end: 5;
                grid-row-start: 1;
                grid-row-end: 2;
            }
            li:nth-child(3){
                grid-column-start: 3;
                grid-column-end: 4;
                grid-row-start: 2;
                grid-row-end: 3;
            }
            li:nth-child(4){
                grid-column-start: 4;
                grid-column-end: 5;
                grid-row-start: 2;
                grid-row-end: 3;
            }

            li{
                position: relative;
                .hover-icon{
                    margin: auto;
                    position: absolute;
                    top: 50%; left: 0; bottom: 0; right: 0;
                    a{
                        display: inline-block;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        background-color: $pink;
                        color: $white;
                        z-index: 10;
                        font-size: 30px;
                        line-height: 60px;
                        transition: all .5s ease-in-out;
                        margin: 0 5px;

                        &:first-child{
                            transform: translateX(-50px);
                            opacity: 0;
                        }
                        &:last-child{
                            transform: translateX(50px);
                            opacity: 0;
                        }
                    }
                }

                &:hover a:first-child,
                &:hover a:last-child{
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
    .experience{

        text-align: left;

        .experience-header{

            display: flex;

            .blok-name{
               width: 50%;
                h2{
                    width: 70%;
                    margin-bottom: 0;
                }
                button{
                    margin-top: 50px;
                }
            }
            .statistics{
                width: 50%;
        
                .statistic{
                    display: flex;
                    margin-bottom: 50px;

                    .number{
                        font-size: 55px;
                        font-weight: 600;
                        color: $pink;
                        margin-right: 50px;
                    }
                    .number-desc{
                        h3{
                            margin-bottom: 20px;
                        }
                    }
                }
            }
        }

        .replics{
            overflow: hidden;
            text-align: center;

                input[type="radio"] + label {
                    display: inline-block;
                    text-align: right;
                    padding: 0;
                    margin: 0;
                  }
                  input[type="radio"] {
                    visibility: hidden;

                    &:checked + label:after{
                        background-color: $pink;
                        width: 40px;
                    }
                  }
                  input[type="radio"] + label:after {
                    display: inline-block;
                    content: "";
                    width: 10px;
                    height: 10px;
                    cursor: pointer;
                    border-radius: 5px;
                    background-color: $tgrey;
                    background-size: 100%;
                    transition: all .3s ease-in;
                  }

            #right-nav:checked ~ #slider-replics{
                transform: translateX(0);
            }
            #left-nav:checked ~ #slider-replics{
                transform: translateX(-50%);
            }
            #left-nav + label{
                margin-bottom: 20px;
            }
            ul{
                transition: all 1s ease-in-out;
                display: flex;
                width: 200%;
                text-align: left;
                li{
                    display: flex;
                    background-color: $lgrey;
                    padding: 30px;
                    width: 24%;
    
                    margin-right: 1%;
    
                    img{
                        border-radius: 50%;
                        margin-right: 30px;
                        align-self: center;
                    }
                    .replic{
                        margin-top: 30px;
    
                        h4{
                            margin-bottom: 10px;
                        }
                        p{
                            margin: 0 0 30px 0;
                        }
                    }
                }
            }   
        }   
    }
    .trends{
        background-image: url(../src/img/ctc-bg.jpg);
        padding: 60px 0;
        
        p{
            color: $white;
            padding: 0 10%;
        }

        button{
            color: $pink;
            background-color: $white;
        }
    }
    .team{
        ul.designers{
            display: flex;
            justify-content: space-between;

            li.designer{
                position: relative;
                cursor: pointer;
                .desc{
                    width: 90%;
                    height: 90%;
                    top: 5%;
                    left: 5%;
                    background: $grey;
                    position: absolute;
                    transform: scale(0);
                    opacity: 0;
                    transition: all .5s ease-in;
                    padding: 50px 10px  0 10px;
                    h3{
                        margin-top: 30px;
                    }
                    ul.social{
                        @extend %social;
                    }
                }
                &:hover .desc{
                    display: block;
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
    }
    .blog{
        background-color: $lgrey;
        padding-bottom: 120px;
        padding-top: 80px;

        ul{
            display: flex;
            
            li{
                display: flex;
                text-align: left;
                background-color: $grey;

                &:first-child{
                    margin-right: 30px;
                }

                .blog-item{
                    padding: 30px;

                    .data{
                        margin-bottom: 20px;
                        color: $pink;
                    }
                    h3{
                        font-size: 25px;
                        line-height: 35px;
                    }
                    p{
                        margin-top: 30px;
                    }
                    .author-blog{
                        margin-top: 30px;
                        display: flex;
                        img{
                            flex-shrink: 0;
                            border-radius: 50%;
                            margin-right: 20px;
                        }
                        .author-info{
                            .author-name{
                                color: $white;
                                font-size: 20px;
                                font-weight: 600;
                            }
                            .author-prof{
                                color: $pink;
                                margin-top: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

footer{
    padding: 80px 0;
    .footer-info{
        display: flex;
        justify-content: space-between;
        h4{
            padding: 0;
            margin: 0;
            text-transform: none;
            color: $white;
            font-size: 20px;
        }
        ul, p{
            margin-top: 25px;
        }
        .contact{
            ul{
                @extend %social;
            }
            width: 250px;
        }
        .newsletter{
            width: 30%;

            form{
                margin-top: 20px;
                input{
                    padding: 13px 0 13px 30px;
                    width: 100%;
                    background-color: $grey;
                    border: 1px solid $tgrey;
                    color: $white;
                }
                button{
                    width: 100%;
                    margin-top: 10px;
                }
            }
        }
        .instagram {
            ul{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr 1fr;
                grid-gap: 5px;
                li{
                    width: 80px;
                    img{
                        width: 100%;
                    }
                }
            }
        }
    }
    .copyright{
        margin-top: 80px;
        text-align: center;
    }
}